<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Flask!</h2>
      <br>
      <p>Input city name: </p>
      <form action="/location" method="GET">
        <input name="location" value="seattle"/>
        <button>Submit</button>
      </form>
      <p>Click <a href="/picknumber">here</a> to return random number stuff.</p>
      <p>Clcik <a href="/pi"> here</a> to return the number pi</p>
    </div>
  </body>
</html>