header {
	text-align: center;
}

main {
	display: flex;
	margin: auto auto;
	width: 70%;
}

.column {
	border: 4px dashed red;
	margin: 2em;
	padding: 2em;
}

aside {
	flex-basis: 33%;
}

section {
	flex-basis: 67%;
}

section img {
	float: right;
	width: 200px;
}

#clear {
	clear: both;
}

#fixme {
	position: fixed;
	bottom: 5px;
}
